<header class="header header-shrink header-inverse fixed-top">
   <div class="container">
      <nav class="navbar navbar-expand-lg px-md-0">
         <button class="navbar-toggler p-0" data-toggle="collapse" data-target="#navbarNav">
            <div class="hamburger hamburger--spin js-hamburger">
               <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
               </div>
            </div>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item active">
                  <%= link_to 'HOME', home_index_path, class: "nav-link" %>
               </li>
               <li class="nav-item dropdown">
                  <%= link_to 'About Me', pages_About_path, class: "nav-link" %>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  portfolio
                  <i class="fa fa-chevron-down u-fs-12 ml-1"></i>
                  </a>
                  <div class="dropdown-menu box-shadow-v2 dropdown__col-2" aria-labelledby="navbarDropdown">
                     <%= link_to 'Music', pages_About_path, class: "dropdown-item" %>
                     <%= link_to 'Photography', pages_Portfolio_path, class: "dropdown-item" %>
                     <%= link_to 'Sound Design', pages_PortfolioDetails_path, class: "dropdown-item" %>
                     <%= link_to 'Other Projects', pages_BlogDetails_path, class: "dropdown-item" %>
                  </div>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Blog
                  <i class="fa fa-chevron-down u-fs-12 ml-1"></i>
                  </a>
               <li class="nav-item dropdown">
                  <%= link_to 'Blog', blogs_path, class: "nav-link" %>
               </li>
               </li>
               <li class="nav-item dropdown">
                  <%= link_to 'Contact', pages_Contact_path, class: "nav-link" %>
               </li>
               <% if user_signed_in? %>
               <li class="nav-item dropdown">
                  <%= link_to 'Account', edit_user_registration_path, class: "nav-link" %>
               </li>
               <li class="nav-item dropdown">
                  <%= link_to 'Log Out', destroy_user_session_path, :method => :delete, class: "nav-link" %>
               </li>
               <% else %>
               <li class="nav-item dropdown">
                  <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
               </li>
               <li class="nav-item dropdown">
                  <%= link_to 'Register', new_user_registration_path, class: "nav-link" %>
               </li>
               <% end %>
            </ul>
         </div>
      </nav>
   </div>
</header>